/* CSS used here will be applied after bootstrap.css */
.putss {
	color: red;
}

/*.peopleCarouselImg img {
  width: auto;
  height: 225px;
  max-height: 225px;
}*/

.carousel {
  max-height: 600px;
  overflow: hidden;
}

.item img {
    min-width: 100%;
    height: auto;
}

.carousel-caption {
  margin-bottom: 100px;
}

.carousel-inner>.item {
	max-height: 600px;
}

#carousal-img{
  /* opacity: 0.15; */
  /* transition: 0.3s; */
  /* filter: grayscale(0.2); */
  filter: blur(3px);
}
.carousel-caption {
	top: 40%;
    transform: translateY(-50%);
    font-family: sans-serif;
    font-size: 8vw;
    font-weight: bold;
    text-transform: uppercase;
    /* color:#111; */
}

/* .site-heading h2 {
    color: #e03a3c;
} */